**/*.out.*
crowd
utils
model_problem
model_problem_pp
model_problem_backwards
model_problem_upwind
crowd_horesh_xbraid
libgfortran.a
tests
burger
crowd_horesh
**/*.dSYM/*
compile_flags.txt
**/*.session.vim
out.txt
